body{
    margin: 0px;
    padding: 0px;
}
header{
    position: relative;
    background-color: black;
    color: white;
    display:flex;
    width: 100%;
}
#divP{
    width: 50%;
}
#divP p{
    font-size:8px ;
    margin-left: 180px;
    
}
#divA1{
    display: flex;
    width: 50%;
}
#divA1 a{
    margin-left: 10%;
    text-decoration: none;
    color: bisque;
}
#divA1 a:hover{
    color: rgb(255, 255, 255);
}
#divA1 a p{
    font-size: 8px; 
}

nav{
    width: 100%;
    display: flex;
    position: relative;
}
#img{
    position: absolute;
    top: -30px;
    left: 65px;
    width: 5%; 
}
#divA2{
    display: flex;
    width: 65%;
    margin-left: 150px;
    padding-left: 8px;
}
#divA2 p{
    margin-left: 8%;
}
#divA2 p a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
#icons{
    display: flex;
    justify-content: end;
    width: 12%;
    padding-right: 2%;
}
#icons .icon {
    position: relative;
    margin-right: 25px;
    cursor: pointer;
}
.val{
    position: absolute;
    color: rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    background-color: rgb(255, 123, 0);
    text-align: center;
    border-radius: 50%;
    top: -6px;
    font-size: small;
    left: 12px;

}

section{
    background-image: url("pumaBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -6px;
    text-align: center;
    color: white;
    height: 512px; 
}

#h1{
    margin-top: 125px;
}
#h1 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
}
#h1 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -40px;
    font-size: 14px;
}
.a{
    margin-top: 75px;
}
.a a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 8px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.a a:hover{
    background-color: azure;
    color: black;
    transition-duration: 1.5s;
}
#p{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#p p{
    margin-left: 5px;
    width: 3px;
    height: 3px;
    background-color: aliceblue;
    border-radius: 50%;
}
#p p:hover{
    width: 5px;
    height: 5px;
    transition-duration: 0.5s;
    transform: scaleY(1.5);
    cursor: pointer;
}